<div class="conteiner flex justify-content-center align-items-center">
  <button mat-mini-fab class="add_button" (click)="addUser(alumnos)"><i class="fa-solid fa-plus"></i></button>
  <mat-table [dataSource]="alumnos" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef appFontSize> No.Legajo </mat-header-cell>
      <mat-cell *matCellDef="let alumn"> A-20-{{alumn.id}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef appFontSize> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let alumn"> {{alumn | alumns: 'nombreCompleto'}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef appFontSize> Estado </mat-header-cell>
      <mat-cell *matCellDef="let alumn"> {{alumn.status | alumns: 'status'}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="text-end" appFontSize> </mat-header-cell>
      <mat-cell *matCellDef="let alumn">
        <ul class="list">
          <div class="flex actions">
            <li>
              <button mat-flat-button class="edit" (click)="editUser(alumn)">
                <i class="fa-solid fa-pen-to-square"></i></button>
            </li>
            <li>
              <button mat-flat-button class="delete ml-4" (click)="deleteUser(alumn)">
                <i class="fa-solid fa-trash"></i></button>
            </li>
          </div>
        </ul>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row id="row" *matRowDef="let row; columns: displayedColumns;" (dblclick)="navigateToDetails(row)"></mat-row>
  </mat-table>
</div>
