::-webkit-scrollbar {
  width: 4px;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  height: 1rem;
}

::-webkit-scrollbar-track {
  background-color: var(--color-violet);
}

.add_button {
  position: absolute;
  top: 50px;
  transform: translateY(-50%);
  left: -75px;
  z-index: 1000;
  background: #d2d2d272;
  color: #000;
  transition: .3s;
}

.add_button:hover {
  background: #fff;
  transform:
            translateY(-50%)
            rotate(-180deg)
            scale(1.2);
}

.conteiner {
  position: relative;
  height: 100%;
  width: 80%;
  margin: auto;
}

#row{
  background: var(--color-yellow);
}

#row:hover{
  background: var(--color-pink);
  cursor: pointer;
}

#row:hover mat-cell{
  font-size: 102%;
}
/*
<mat-row _ngcontent-hib-c56="" role="row" class="mat-mdc-row mdc-data-table__row cdk-row row ng-tns-c56-0 ng-star-inserted"> */
mat-cell, mat-header-cell{
  color: #fff;
  transition: .2s;
  font-size: 17px;
}

mat-cell{
  color: #333;
}

.mat-mdc-table {
  background: var(--color-darkViolet);
  border: 1px solid white;
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

.mat-column-name {
  height: 100px;
}

/* actions  */

.list {
  position: relative;
  list-style: none;
  padding: 0;
}

.actions button{
  position: relative;
  color: var(--color-darkViolet);
  background: transparent;
  z-index: 100;
}

.actions li:hover {
  transform: scale(1.1);
  transition: .3s;
}
.actions li:hover button{
  background: var(--color-darkViolet);
  color: var(--color-pink);
}


