
<div class="container">
  <h2 class="p-2 ml-4" mat-dialog-title>Agregar alumno</h2>
  <form [formGroup]="formularioUser" action="" class="flex flex-column p-4" (ngSubmit)="onSubmit()" >
    <mat-form-field appearance="fill">
      <mat-label>nombre</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>apellido</mat-label>
      <input matInput formControlName="lastname">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" type="text" formControlName="registro">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker ></mat-datepicker>
    </mat-form-field>

    <button type="submit" class="mt-4" mat-flat-button>Cargar formulario</button>
  </form>
</div>
