<div class="container">
  <h2 class="p-2 ml-4" mat-dialog-title>Agregar alumno</h2>
  <form [formGroup]="formularioUser" action="" class="flex flex-column p-4" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill" class="mb-2">
      <mat-label>nombre</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="nombreControll.hasError('required')" >
        Este campo es obligatorio
      </mat-error>
      <mat-error *ngIf="nombreControll.hasError('pattern')" >
        caracteres solo a-z
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>apellido</mat-label>
      <input matInput formControlName="lastname">
      <mat-error *ngIf="apellidoControll.hasError('required')" >
        Este campo es obligatorio
      </mat-error>
      <mat-error *ngIf="apellidoControll.hasError('pattern')" >
        caracteres solo a-z
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Elige tu curso</mat-label>
      <mat-select matInput formControlName="course_fk">
        <mat-option *ngFor="let course of courses" [value]="course.id">
          {{course.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="courseControll.hasError('required')" >
        Elige un curso
      </mat-error>
    </mat-form-field>

    <button type="submit" class="mt-4" mat-flat-button>Cargar formulario</button>
  </form>
</div>
