.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  color: #fff;
  position: relative;
  z-index: 1500;
  right: 5%;
  width: 30%;
  height: 55px;
  border-radius: 0 0 20px 20px;
  background: var(--color-darkviolet);
  opacity: .9;
}

mat-toolbar:hover{
  opacity: 1;
  animation: toolbar .6s ;
  height: 80px;
}

@keyframes toolbar {
  40%{
    height: 95px;
  }
  60%{
    height: 70px;
  }
  100%{
    height: 80px;
  }
}

.flex{
  width: 100%;
}

a{
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}

ul li:hover a{
  color: var(--color-darkyellow);
  text-decoration: dashed;
}


.admin{
  color: rgb(0, 218, 0);
}

p{
  font-size: 15px;
}
