.navbar {
  top: 50%;
  position: fixed;
  left: -100px;
  transition: all .3s ease;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  color: var(--color-yellow);
  background: var(--color-darkviolet);
  transform: translateY(-50%);
  height: 60%;
  width: 90px;
  border-radius: 0 20px 20px 0;
  text-align: center;
}

.display {
  left: 0;
}

.navbar ul {
  z-index: 100;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.navbar ul li button {
  display: flex;
  flex-direction: column;
  --padding: 10px;
  box-shadow: none;
  font-size: 15px;
}

.navbar ul li button:hover {
  color: var(--color-darkyellow);
}

.btn-display {
  position: absolute;
  background: var(--color-pink);
  color: var(--color-darkviolet);
  left: 100px;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  transition: all .3s ease;
}

.btn-display i {
  position: relative;
  left: 10px;

}

.active {
  transition: .4s;
  left: 0;
  background-color: var(--color-violet);
}
