<nav class="navbar">
  <ul>
    <li>
      <button mat-fab color="white"><i class="fa-solid fa-bars"></i><br><small>menu</small></button>
    </li>
    <li>
      <button mat-fab color="white"><i class="fa-solid fa-house"></i><br><small>home</small></button>
    </li>
    <li>
      <button mat-fab color="white"><i class="fa-solid fa-magnifying-glass"></i><br><small>search</small></button>
    </li>
    <li>
      <button mat-fab color="white"><i class="fa-solid fa-gear"></i><br><small>config</small></button>
    </li>
  </ul>
</nav>

