/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

:root{
  --color-darkviolet: #6a4683;
  --color-violet: #b09add;
  --color-pink: #ead2ff;
  --color-yellow: #fff3d8;
  --color-darkyellow: #fed578;
  --color-green: #98FB98;
  --color-light-blue: #ADD8E6;
  --font: 'Domine', serif;
  ;
}

*{
  font-family: var(--font);
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background: #9370DB;
  font-family: var(--font);
}

::-webkit-scrollbar {
  width: 0;
}


