table {
  width: 70vw;
  background: #dddddd06;
  border: 1px solid white;
  border-radius: 5px;
}

table th,td{
  color: white;
}

table th{
  background: #0000006c;
}

table tr:hover{
  background: #dddddd25;
}

.btn{
  position: absolute;
  right: 10px;
  top: 10px;
}

/* Acordeon*/


tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: rgb(87, 87, 87);
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  font-weight: lighter;
  height: 104px;
  margin: 0;
  padding: 0;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  width: 100%;
  border-top: 3px solid black;
  background: #dddddd27;
  padding: 10px;
  margin: 0;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.lista{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.lista p {
  margin: 0;
}

.lista .edit{
  color: blue;
}

.lista .delete{
  color: red;
}

/* fin acordeon */
